extends base
mixin renderSubject(STT, code, name, type, STC)
    - if (STT%2 === 0)
        tr.row_w
            td.col1(width='70px')=STT
            td.col2=code
            td.col3=name
            td.col4=type
            td.col4=STC
    - else
        tr.row_b
            td.col1(width='70px')=STT
            td.col2=code
            td.col3=name
            td.col4=type
            td.col4=STC
block content
  body(data-alert=`${alert ? alert : ''}`)
    .page
        .container
            .info_container
                .panelleft1
                        .blog_menu4_HP
                        .PanelBarMenu
                            ul.menubar
                                li.bg_mn
                                    a(href='/' target='_parent') Trang &dstrok;&abreve;ng ky&#x301; ho&#x323;c ph&#x1EA7;n
                                li.bg_mn
                                    a(href='/tracuu' target='_newtab') Tra c&#x1B0;&#x301;u ho&#x323;c ph&#x1EA7;n
                                li.bg_mn
                                    a(href='/hocphan' target='_newtab') Chương trình đào tạo
                .panelcontent1
                    .wrapper_vb
                        .blog_menu4_HP
                            a(href='#')
                                | Ch&#x1B0;&#x1A1;ng tr&igrave;nh &dstrok;&agrave;o t&#x1EA1;o: 20110CLC
                        div(style='height:500px ;width:100% ;overflow:auto')
                            table(cellpadding='0px' cellspacing='0px' width='100%')
                                tbody
                                tr.title_topic_vb
                                    td.col_topic_1 STT
                                    td.col_topic_2 Ma&#x303; m&ocirc;n
                                    td.col_topic_3 T&ecirc;n m&ocirc;n
                                    td.col_topic_4 Loa&#x323;i m&ocirc;n
                                    td.col_topic_4 STC
                                each sub, i in subjects
                                    +renderSubject(i,sub.subject_id,sub.name,sub.type, sub.numberOfCredits)